* {
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
}

main,
#messages-card {
  max-height: 100%;
  height: 98%;
  padding-bottom: 0;
  margin-right: -90px;
}

#messages-card-container {
  height: inherit;
  padding-bottom: 0;
  float: right;
}

#messages-card {
  width: 900px;
  border: 2px solid black;
}

.mdl-grid {
  max-width: 1024px;
  margin: auto;
}

.material-icons {
  font-size: 36px;
  top: 8px;
  position: relative;
}

.mdl-layout__header-row {
  padding: 0;
  margin: 0 auto;
}

.mdl-card__supporting-text {
  width: auto;
  height: 100%;
  padding-top: 0;
  padding-bottom: 0;
}

#messages {
  overflow-y: auto;
  margin-bottom: 10px;
  height: calc(100% - 80px);
  display: flex;
  flex-direction: column;
}

#message-filler {
  flex-grow: 1;
}

.message-container:first-of-type {
  border-top-width: 0;
}

.message-container {
  display: block;
  margin-top: 10px;
  border-top: 1px solid #f3f3f3;
  padding-top: 10px;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.message-container.visible {
  opacity: 1;
}

.message-container .pic {
  background-image: url('/images/profile_placeholder.png');
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  background-size: 30px;
  border-radius: 20px;
}

.message-container .spacing {
  display: table-cell;
  vertical-align: top;
}

.message-container .message {
  display: table-cell;
  width: calc(100% - 40px);
  padding: 5px 0 5px 10px;
}

.message-container .name {
  display: inline-block;
  width: 100%;
  padding-left: 40px;
  color: #bbb;
  font-style: italic;
  font-size: 12px;
  box-sizing: border-box;
}

#message-form {
  display: flex;
  flex-direction: row;
  width: calc(100% - 48px);
  float: left;
}

#message-form .mdl-textfield {
  width: calc(100% - 10px);
}

#message-form button {
  width: 100px;
  margin: 15px 0 0 80px;
}

.mdl-card {
  min-height: 0;
  background: linear-gradient(white, #f9f9f9);
  justify-content: space-between;
}

.mdl-textfield__label:after {
  background-color: #0288D1;
}

.mdl-textfield--floating-label.is-focused .mdl-textfield__label {
  color: #0288D1;
}

.mdl-button .material-icons {
  top: -1px;
  margin-right: 5px;
}

#sidebar {
  margin-top: 15px;
  margin-left: 15px;
  max-height: 79%;
  height: 79%;
  padding: 50px;
  float: left;
  border: 2px solid black;
  max-width: 220px;
  width: 220px;
  text-align: center;
}

#yourprofile {
  font-weight: bold;
  font-size: 20px;
}

#username {
  font-size: 18px;
}

img {
  margin-top: 20px;
  border-radius: 50%;
  height: 200px;
  width: 200px;
}

#topics {
  font-weight: bold;
  font-size: 16px;
}

.demo-layout {
  margin: 0 auto;
  font-size: 16px;
}